.Botão {
    background-color: #6278f7;
    font-weight: 700;
    border-radius: 10px;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0px;
}

.Botão:hover {
    color: #95ffd4;
}